[submodule "tui"]
	path = tui
	url = /Users/simplychris/projects/simply/noema/.git-remotes/tui.git
[submodule "commands"]
	path = commands
	url = /Users/simplychris/projects/simply/noema/.git-remotes/commands.git
