[submodule "cli"]
	path = cli
	url = /Users/simplychris/projects/simply/noema/.git-remotes/cli.git
[submodule "llm"]
	path = llm
	url = /Users/simplychris/projects/simply/noema/.git-remotes/llm.git
[submodule "conversation"]
	path = conversation
	url = /Users/simplychris/projects/simply/noema/.git-remotes/conversation.git
[submodule "tui"]
	path = tui
	url = /Users/simplychris/projects/simply/noema/.git-remotes/tui.git
