[submodule "cli"]
	path = cli
	url = .../.git-remotes/cli.git
[submodule "llm"]
	path = llm
	url = ../.git-remotes/llm.git
[submodule "conversation"]
	path = conversation
	url = ../.git-remotes/conversation.git
[submodule "tui"]
	path = tui
	url = ../.git-remotes/tui.git
